nav.global .btn {
    display: block;
    padding: 1em 3em;
    margin: 50px;
    background-color: #283B59; /* 背景色 */
    box-shadow: 0 5px 0 #736f70; /* 影の太さ・色 */
    border-radius: 60px;
    color:rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none; /* 文字の下線を消す */
    text-align: center
  }