@charset "UTF-8";
:root {
  --gr000: #fff;
  --gr100: #e6e6e6;
  --gr200: #ccc;
  --gr300: #b3b3b3;
  --gr400: #999;
  --gr500: #808080;
  --gr600: #666;
  --gr700: #4d4d4d;
  --gr800: #333;
  --gr900: #1a1a1a;
  --red: rgb(235, 0, 0);
}

html {
  background: #f7f7f7;
  color: var(--gr800);
}

header {
  background: var(--gr000);
  font-size: 1.3rem;
  color: var(--gr800);
  padding: 10px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .close-button {
  position: relative;
  display: inline-block;
  color: var(--gr300);
  width: 28px;
  height: 28px;
}

header .close-button::before, header .close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  /* 棒の幅（太さ） */
  height: 27px;
  /* 棒の高さ */
  background: var(--gr300);
}

header .close-button::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

header .close-button::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.icon {
  position: relative;
  display: inline-block;
  color: #f0a10f;
  width: 0.8em;
  height: 0.8em;
  border: 2px solid #f0a10f;
  border-radius: 100%;
}

.icon::before, .icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  /* 棒の幅（太さ） */
  height: 0.8em;
  /* 棒の高さ */
  background: #f0a10f;
}

.icon::before {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icon::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.required-tag {
  display: inline-block;
  border-radius: 3px;
  background: var(--red);
  color: var(--gr000);
  font-weight: bold;
  padding: 2px;
  margin: 2px;
  margin-bottom: 5px;
  font-size: 0.8em;
}

.button {
  border-radius: 5px;
  border: 1px solid var(--gr400);
  padding: 8px;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.button:hover {
  opacity: 0.8;
}

.draft {
  color: var(--gr300);
  background-color: var(--gr000);
}

.confirm {
  color: var(--gr000);
  background-color: #f0a10f;
  border: 1px solid #f0a10f;
}

.job-information,
.company-information {
  background: var(--gr000);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px var(--gr200);
          box-shadow: 0 0 10px var(--gr200);
  padding: 4px 0;
  margin: 25px;
}

.job-information h3,
.company-information h3 {
  margin: 5px 0;
  padding: 5px 1.5rem;
  border-bottom: 3px solid var(--gr200);
}

.job-information form,
.company-information form {
  padding: 0 3rem 1.5rem;
}

.job-information .form-item,
.company-information .form-item {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.job-information .form-item .item-label,
.company-information .form-item .item-label {
  font-size: 1rem;
}

.job-information .form-item input[type="text"],
.job-information .form-item textarea,
.job-information .form-item select,
.company-information .form-item input[type="text"],
.company-information .form-item textarea,
.company-information .form-item select {
  width: 99%;
  border-radius: 4px;
  margin: 4px;
}

.job-information .form-item input[type="text"]::-webkit-input-placeholder,
.job-information .form-item textarea::-webkit-input-placeholder,
.job-information .form-item select::-webkit-input-placeholder,
.company-information .form-item input[type="text"]::-webkit-input-placeholder,
.company-information .form-item textarea::-webkit-input-placeholder,
.company-information .form-item select::-webkit-input-placeholder {
  color: var(--gr200);
}

.job-information .form-item input[type="text"]:-ms-input-placeholder,
.job-information .form-item textarea:-ms-input-placeholder,
.job-information .form-item select:-ms-input-placeholder,
.company-information .form-item input[type="text"]:-ms-input-placeholder,
.company-information .form-item textarea:-ms-input-placeholder,
.company-information .form-item select:-ms-input-placeholder {
  color: var(--gr200);
}

.job-information .form-item input[type="text"]::-ms-input-placeholder,
.job-information .form-item textarea::-ms-input-placeholder,
.job-information .form-item select::-ms-input-placeholder,
.company-information .form-item input[type="text"]::-ms-input-placeholder,
.company-information .form-item textarea::-ms-input-placeholder,
.company-information .form-item select::-ms-input-placeholder {
  color: var(--gr200);
}

.job-information .form-item input[type="text"]::placeholder,
.job-information .form-item textarea::placeholder,
.job-information .form-item select::placeholder,
.company-information .form-item input[type="text"]::placeholder,
.company-information .form-item textarea::placeholder,
.company-information .form-item select::placeholder {
  color: var(--gr200);
}

.job-information .form-item input[type="text"],
.job-information .form-item select,
.company-information .form-item input[type="text"],
.company-information .form-item select {
  height: 1.3em;
}

.job-information .form-item input[type="text"],
.company-information .form-item input[type="text"] {
  border: 1px solid var(--gr400);
}

.job-information .form-item .select2-selection,
.company-information .form-item .select2-selection {
  height: 2em;
}

.job-information .form-item .form-description,
.company-information .form-item .form-description {
  font-size: 0.7rem;
  color: var(--gr400);
  margin: 4px 1rem;
}

.job-information .form-buttons,
.company-information .form-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

button {
  border-radius: 5px;
  border: 1px solid var(--gr400);
  padding: 8px;
}

button.add {
  background: var(--gr000);
  border: none;
  color: #f0a10f;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  padding: 5px;
}

button.add:hover {
  background: var(--gr100);
}

button.add:disabled {
  background: var(--gr100);
  color: var(--gr400);
}

button.add-confirm {
  background: #f0a10f;
  border-color: var(--gr000);
  -webkit-box-shadow: var(--gr000);
          box-shadow: var(--gr000);
  color: var(--gr000);
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  padding: 5px;
}

button.add-confirm:hover {
  opacity: 0.8;
}

button.add-confirm:disabled {
  background: var(--gr100);
  color: var(--gr400);
}
/*# sourceMappingURL=style.css.map */