@charset "utf-8";
html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: none;
}
body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
img,
h1,
h2,
h3,
h4,
h5,
h6,
form,
select {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
input,
select {
  vertical-align: middle;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, "MS PGothic", Sans-serif;
}
body {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, "MS PGothic", Sans-serif;
}

.header-wrapper {
  margin-top: 15px;
  text-align: center;
}
.nav-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.logo {
  font-size: 40px;
  float: left;
  margin-left: auto;
}
.contents-header-wrapper {
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.nav-wrapper {
  float: right;
  margin-top: 60px;
  margin-right: auto;
}
.nav-items > li {
  border-left: 1px dotted #999;
  float: left;
  text-decoration: underline;
  color: #223a70;
  font-size: 20px;
  font-weight: 700;
  line-height: 15px;
  padding-left: 10px;
  margin-left: 10px;
}
.nav-items > li:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}
.nav-items > li > a:link,
.nav-items > li > a:hover,
.nav-items > li > a:visited {
  color: #223a70;
  font-size: 20px;
}

.contents-wrapper:after,
.contents-hd-wrap:after,
.container-single .container-top .contents-hd-inner:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.contents-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.single-contents-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.contents-wrapper {
  padding-bottom: 50px;
  width: auto;
}
.contents-job-list-wrapper {
  float: left;
  margin-top: 15px;
  padding-bottom: 50px;
  width: 100%;
}
.contents-job-list-wrapper {
  width: 100%;
}
.contents-job-list-wrapper {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.job-list-fream {
  margin-top: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.job-list-all-title {
  display: inline-block;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  height: auto;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 5px;
  border-left: 6px solid #223a70;
  color: #000;
}
.job-list-box-wrapper {
  display: block;
  border-radius: 5px;
  position: relative;
  border: solid 1px #e6e6e6;
  margin-top: 10px;
  background: #fff;
}
.job-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 5px;
  text-decoration: underline;
}
.job-list-box-wrapper:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  border: solid 1px #e6e6e6;
  margin-top: 10px;
  background: #fbfbfb;
  text-decoration: none;
}
.job-list-contents {
  padding-top: 14px;
  padding-right: 12px;
  padding-bottom: 14px;
  padding-left: 12px;
}
.job-list-box-caption {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.job-list-img-wrapper,
.job-list-text-wrapper {
  display: table-cell;
  padding-right: 10px;
  vertical-align: top;
}
.job-list-img-wrapper {
  display: table-cell;
  padding-right: 16px;
  vertical-align: top;
}
.job-list-img-wrapper {
  width: 40%;
}
.job-list-title-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  margin-left: 7px;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.job-list-tag-box {
  margin-top: 5px;
}
.job-list-tag li {
  display: inline-block;
  font-size: 16px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 5px;
  color: #223a70;
  border: 1px solid #223a70;
  border-radius: 5px;
  width: auto;
  text-align: center;
}
.job-list-address {
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.job-list-detail-box {
  margin-top: 5px;
  position: relative;
}
.job-list-detail-link {
  z-index: 1;
  width: auto;
  height: auto;
  color: #223a70;
  box-shadow: 0 0 7px 7px #fff;
  text-align: right;
  font-size: 16px;
  background-color: #fff;
}
.job-list-detail-text {
  overflow: hidden;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}

.blank-box {
  display: block;
  height: 40px;
}
.top-page-jump-box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.top-page-jump {
  display: inline-block;
  margin-top: 30px;
  padding-top: 6px;
  font-size: 18px;
  color: #223a70;
}
.top-page-jump:hover {
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  padding-top: 6px;
  font-size: 18px;
  color: #1470cc;
  text-decoration: underline;
}
